.topbar{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: wheat;
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0px 20px;
        .left{
            display: flex;
            justify-content: center;
            align-items: center;
            .logo{
                font-size: 30px;
                font-weight: 700;
                color: darkred;
            }
        }

        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            .icons{
                display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                .icon{
                    position: relative;
                    margin-right: 10px;
                    cursor: pointer;
                    .icon-badge{
                        position: absolute;
                        top: -5px;
                        right: 0px;
                        background-color: darkred;
                        color: white;
                        border-radius: 50%;
                        height: 14px;
                        width: 14px;
                        font-size: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }

                
            }
        }
    }
}