.newproduct{
    flex: 4;
    .header{
        margin: 20px;
        font-size: 30px;
        font-weight: 500;
    }
    .newproduct-container{
        margin: 20px;
        .newproduct-info{
            width: 350px;
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            label{
                color: grey;
            }
            .newproduct-input{
                margin: 10px 0;
                height: 35px;
                border: none;
                border-bottom: 1px solid grey;
                outline: none;
            }
            select{
                cursor: pointer;
            }
        }
        .add-btn{
            margin-top: 20px;
            border: none;
            outline: none;
            width: 180px;
            padding: 8px 0;
            border-radius: 5px;
            color: white;
            background-color: green;
            cursor: pointer;
        }
    }
}